@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

body {
  @apply bg-deep text-white font-sans;
}

a {
  @apply text-brand-300 hover:text-brand-200 transition-colors;
}

.section-container {
  @apply mx-auto w-full max-w-6xl px-6;
}


